[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "grandR"]
	path = grandR
	url = https://github.com/erhard-lab/grandr
[submodule "lfc"]
	path = lfc
	url = https://github.com/erhard-lab/lfc
